.DS_Store

*/*/.DS_Store
*/*/CMakeCache.txt
*/*/CMakeFiles/*
*/*/cmake_install.cmake
*/*/Makefile

*/*/*/.DS_Store
*/*/*/CMakeCache.txt
*/*/*/CMakeFiles/*
*/*/*/cmake_install.cmake
*/*/*/Makefile
*/*/*/dodgy_blocks
*/*/duck_hunter
*/*/*/bumpy_circles
menu/menu/menu


*/*/*.xcodeproj/project.pbxproj
*/*/*.xcodeproj/xcshareddata/
*/*/*.xcworkspace/contents.xcworkspacedata
games/bumpy_circles/bumpy_circles/bumpy_circles
