.DS_Store

**/.DS_Store
**/CMakeCache.txt
**/CMakeFiles/**
**/cmake_install.cmake
**/Makefile

**/menu


**/*.xcodeproj/project.pbxproj
**/*.xcodeproj/xcshareddata/
**/*.xcworkspace/contents.xcworkspacedata

**/*.db
